#title{
  text-align: center;
}

.image {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-bottom: 1.5em;
}

.image img{
  display: block;
  height: 100%;
  margin: auto;
}

.image figcaption{
  text-align: center;
}
