html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

#title{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  background-color: white;
}

.wrapper{
  padding: 0.5em;
}

.image-stack {
  width: 400px;
  border: 2px solid black;
  background-color: lightyellow;
  float: right;
  margin-top: 1em;
}

#fairyhead {
  cursor: pointer;
}

.image {
  height: 150px;
  width: 300px;
  margin: auto;
  margin-bottom: 0;
}

.image img{
  height: 100%;
  margin: auto;
}

.image figcaption{
  display: none;
  text-align: center;
  float: right;
  line-height: 150px;
}

.talking-head {
  height: 150px;
  top: 100px;
  width: 400px;
}

.talking-head p {
  font-size: 25px;
}

.talking-head img{
  height: 120%;
  margin: auto;
  border-radius: 50%;
  border: 2px solid black;
  transform: rotate(-90deg);
  overflow: hidden;
}

.talking-head-text{
  width: 50%;
  border: 2px solid black;
  padding: 0.5em;
  box-shadow: 8px 8px #ccc;
  margin: 50px
}

.talking-head-text::before{
  border-bottom: 10px solid black;
  border-left: 20px solid transparent;
  content: "";
  position: absolute;
  left: -20px;
  top: 40px;
}

@media screen and (min-width: 600px) {
  .image figcaption{
    display: block;
  }

  .talking-head {
    position: fixed;
    top: 100px;
    width: 400px;
  }
}

@media screen and (min-width: 925px) {
  .talking-head {
    position: fixed;
    top: 100px;
    width: 400px;
  }

  .talking-head-text {
    width: 220px;
    position: absolute;
    right: -150px;
    top: 0px;
    float: none;
  }
}
