html, body {
  margin: 0;
  padding: 0;
  background-color: #FFE2E5;
}

#title{
  text-align: center;
  font-size: 5em;
  font-family: "Lobster", cursive;
  margin-bottom: 0.5em;
  margin-top: 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  background-color: #F9C8CE;
}


.wrapper{
  padding: 0.5em;
  margin: auto;
  max-width: 1000px;
}

.image-stack {
  width: 200px;
  border: 2px solid black;
  margin-top: 1em;
  margin: auto;
  background-color: white;
}

#fairyhead {
  cursor: pointer;
}

.image {
  height: 75px;
  width: 150px;
  margin: auto;
  margin-bottom: 0;
}

.image img{
  height: 100%;
  margin: auto;
}

.image figcaption{
  display: none;
  text-align: center;
  float: right;
  line-height: 150px;
}

.talking-head {
  height: 150px;
  top: 100px;
  width: 400px;
  margin: auto;
}

.talking-head p {
  font-size: 12px;
  font-family: "Dancing Script";
}

.talking-head img{
  height: 80%;
  border-radius: 50%;
  border: 2px solid black;
  transform: rotate(-90deg);
  overflow: hidden;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.talking-head-text{
  width: 50%;
  border: 2px solid black;
  padding: 0.5em;

  margin: auto;
  display: block;
  margin-top: 50px;
}

.talking-head-text::before{
  border-bottom: 10px solid black;
  border-left: 20px solid transparent;
  content: "";
  position: absolute;
  left: -20px;
  top: 40px;
}

@media screen and (min-width: 688px) {
  .image {
    height: 150px;
    width: 300px;
  }

  .image figcaption{
    display: block;
  }

  .talking-head {
    position: fixed;
    top: 100px;
    width: 400px;
  }

  .talking-head img{
    height: 120%;
    margin-left: 0px;
  }

  .talking-head-text {
    margin-top: 100px;
    margin-left: 55px;
  }

  .talking-head p {
    font-size: 25px;
  }

  .image-stack {
    width: 400px;
    float: right;
  }
}

@media screen and (min-width: 925px) {

  .talking-head-text {
    width: 220px;
    position: absolute;
    right: -150px;
    top: 0px;
    float: none;
  }
}
